/* font */
@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* reset */
body, h2, p, input,ul{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
ul {
	list-style: none;
}
/* ir */
.blind{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
/*  */
body{
    background-color: #F2F2F2;
    font-family: 'SpoqaHanSansNeo-Regular';
}
.container{
    width: 520px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid #C4C4C4;
    background-color: #FFFFFF;
    margin: 40px auto;
    /* text-align: center; */
}
.cont-header{
    padding: 20px 24px 18px;
    border-bottom: 1px solid #C4C4C4;
    text-align: center;
    position: relative;
}
.text-header{
    line-height: 20px;
}
.link-close{
    position: absolute;
    float: right;
    right: 24px;
    top: 20px;
}
.img-close{
    float: right;
    width: 16px;
    height: 16px;
    padding-bottom: 20px;
}
.cont-section{
    padding: 26px 24px 25px 24px;
}
.text-section{
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    padding-bottom: 24px;
}

.input-login{
    display: block;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
    outline: none;
    padding: 15px 0 15px 16px;
    float: left;
    width: 472px;
    box-sizing: border-box;
    margin-bottom: 10px;
    /* width: 100%; */
}
.input-password{
    display: block;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
    outline: none;
    padding: 15px 0 15px 16px;
    float: left;
    width: 472px;
    box-sizing: border-box;
    margin-bottom: 24px;
}
/* .cont-check{
    display: block;
} */
.input-check{
    margin-top: 16px;
    margin-top: 16px;
}
input[type=checkbox]{
    display: none;
}
input[type=checkbox] + label{
    padding-left: 28px;
    margin-left: 4px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-image: url('./images/empty_check-box.svg');
}
input[type=checkbox]:checked + label{
    background-image: url('./images/check-box.svg');
}

.label-check{
    color: #767676;
    margin-top: 16px;
}
.btn-login{
    margin-top: 20px;
    text-align: center;
    display: block;
    color: white;
    background-color: #2F80ED;
    padding: 14px 0;
    border-radius: 5px;
    font-weight: 700;
    font-size: 18px;
}
.cont-find{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
.link-join{
    color: #767676;
    font-size: 14px;
}
.cont-find .link-join::after{
    display: inline-block;
    content: '';
    width: 1px;
    height: 14px;
    background-color: #767676;
    margin: 0 10px 0 12px;
    margin-bottom: -2px;
}
.link-find{
    color: #767676;
    font-size: 14px;
}
.text-or{
    text-align: center;
    color: #767676;
    margin-bottom: 19px;
    font-size: 14px;
}
.text-or::before{
    display: inline-block;
    content: "";
    width: 210px;
    height: 1px;
    background-color: #767676;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    margin-right: 12px;
}
.text-or::after{
    display: inline-block;
    content: "";
    width: 210px;
    height: 1px;
    background-color: #767676;
    vertical-align: middle;
    margin-left: 12px;
}
.api{
    box-sizing: border-box;
    border-radius: 5px;
    color: #767676;
    text-align: center;
    display: block;
    padding: 14px 0;
    margin-top: 10px;
    line-height: 20px;
}
.google-login::before{
    /* display: block; */
    content: "";
    width: 28px;
    height: 28px;
    float: left;
    background-image: url("./images/spritesheet.png");
    background-position: -5px -5px;
    margin-left: 12px;
    margin-top: -4px;
}
.facebook-login::before{
    /* display: block; */
    content: "";
    width: 28px;
    height: 28px;
    float: left;
    background-image: url("./images/spritesheet.png");
    background-position: -43px -5px;
    margin-left: 12px;
    margin-top: -4px;
}
.naver-login::before{
    /* display: block; */
    content: "";
    width: 28px;
    height: 28px;
    float: left;
    background-image: url("./images/spritesheet.png");
    background-position: -43px -43px;
    margin-left: 12px;
    margin-top: -4px;
}
.kakao-login::before{
    /* display: block; */
    content: "";
    width: 28px;
    height: 28px;
    float: left;
    background-image: url("./images/spritesheet.png");
    background-position: -5px -43px;
    margin-left: 12px;
    margin-top: -4px;
}
.google-login{
    border: 1px solid #767676;

}
.facebook-login{
    border: 1px solid #2D9CDB;
    
}
.naver-login{
    border: 1px solid #00BF18;
    
}
.kakao-login{
    border: 1px solid #F2C94C;

}