button{
    padding: 0;
}

body{
    background-color: #EAE8FE;
}
.cont-header{
    width: 386px;
    margin: 0 auto;
}
.cont-header img{
    width: 386px;
}
.wrapper{
    width: 748px;
    margin: 0 auto;
    padding-top: 70px;
    /* display: flex; */
}
.wrapper .cont-left{
    float: left;
    width: 360px;
    height: 545px;
    background-color: #FFFFFF;
    margin-right: 28px;
}

.cont-left .list-ul{
    margin: 31px 27px 0px;
}
.list-li{
    width: 94px;
    box-sizing: border-box;
}
.btn-cola{
    width: 94px;
    background-color: #FFFFFF;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    box-sizing: border-box;
}
.btn-cola:hover{
    border: 3px solid #6327FE;
}
.btn-cola img{
    width: 36px;
    margin: 11px 29px 0px 29px;
}
.btn-cola .cola-name{
    font-size: 9px;

}
.btn-cola .cola-price{
    background-color: #6327FE;
    color: #FFFFFF;
    border-radius: 50px;
    padding: 5px 15px;
    margin-bottom: 9px;
}
.wrapper .cont-right{
    float: right;
    width: 360px;
    overflow: hidden;
}
.cont-myMoney{
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #FFFFFF;
}
.cont-myMoney .text-money{
    margin: 9px 27px;
    padding: 6px 10px;
    background-color: #EAE8FE;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    border-radius: 5px;
}
.cont-myMoney .text-money::after{
    content: '1,000원';
    float: right;
}
.cont-right .cont-getItem{
    /* margin-top: 20px; */
    background-color: #FFFFFF;
}

.cola-ul{
    width: 306px;
    height: 364px;
    background-color: #EAE8FE;
    border-radius: 5px;
    margin: 0 auto;
    border: 1px solid #c4c4c4;
    /* overflow-y: scroll; */
}
.cola-items{
    /* margin: 0 auto; */
    width: 276px;
    box-sizing: border-box;
    background-color: #FFFFFF;
    margin: 0px 12px 6px 12px;
    padding: 8px;
    border-radius: 5px;
}
.cola-items:first-child{
    margin: 12px 12px 6px 12px;
}
.cola-items img{
    float: left;
    width: 18px;
    height: 33px;
}
.get-item{
    font-size: 9px;
    line-height: 33px;
    padding: 18px 10px;
    border-radius: 5px;
}
.get-item-sum{
    float: right;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    padding: 7px 11px;
    vertical-align: middle;
    /* text-align: center; */
}
.text-getItem{
    font-weight: 700;
    padding: 25px 0px;
    text-align: center;
}
.cont-getItem .sumPrice{
    /* float: right; */
    text-align: right;
    margin: 6px 26px 0px 0px;
    padding-bottom: 25px;
    font-size: 12px;
    font-weight: 500;
}